
/*========= Zorro 4 avril 2022 - YAM ==========*/

body {  font-family: Arial, Helvetica,Tahoma, sans-serif; font-size : 13px;  color: #444;  }

a { color: #2055aa ;  text-decoration: none; }
a:hover { color: #205599 ;  text-decoration: underline; }

.containerApp {
    width: 98%; -max-width: 1170px;
    margin-right: auto; margin-left: auto;clear: both;
}

header#header-zorro { padding-top: 8px; }

nav.navigat { margin-top: 9px; background: #727780; padding : 2px;  }

nav.navigat ul { height: 14px;  text-align: center; padding: 0px; margin-top: 0;  }

nav.navigat ul li {
	display: inline-block;
	border-left : 1px #FFFFFF4F solid;
	background: #575a61;
	text-align: center;
        padding: 6px 12px 5px;
	color: white;
}

nav.navigat ul li:hover {  background: #c89108; }

nav.navigat ul li a { color: white;  text-decoration: none; }

nav.navigat ul li.navcourant { background: #9f6c07; }

nav.navigat ul li.error { background: #CF4A02; }

#contenu1, #contenu2 {
         clear : both;   padding:11px;
         margin-top: 20px; display: block;  
}

#contenu1 { max-width : 1200px; margin-left:auto; margin-right:auto; }

.gauche { background:#FAF5D7; background: white;
    min-height: 40px; float :left;  width: calc(100% - 285px); margin-bottom:15px; 
}

.droite { background:#DDF1FB75; background: white;
	min-height: 40px; float :right; width:280px; margin-bottom:15px;
}


h2 { font-style: normal; font-weight: normal; font-size: 24px ;
     padding-left: 0px; margin-top: 5px; margin-bottom: 25px; }

h3 {
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     padding-left: 0px;
     margin-top: 22px;
     margin-bottom: 24px;
}

form {
     line-height: 16px; font-weight: 500; color: #555;  font-size: 13px; ;
     }

 form div {
    margin-bottom: 1px;
    margin-top: 3px;

}

form select,form input,form textarea {
     font-size: 13px;
     color: #00326e;
     border: 1px solid #00326e5c;
     margin-bottom: 3px;
}

form #structure_div input {
    /*width: 17em; */
    width: 25.5em;
}

.gauche select#annee1 {
	width: 14.5em !important;
	background: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
}

.gauche input { line-height: 21px; width: 14.5em; padding-left: 5px; }
.gauche input[type="checkbox"] { width: 1em;}
.gauche input:focus-within {-background: lightyellow; }

.gauche input:-moz-read-only, .gauche input:-moz-read-only:focus ,
.gauche input:read-only, .gauche input:read-only:focus  {
    border:none ;
    outline:none;
    background:none;
    /*width: calc(100% - 255px);  ebr */
}

#affichecomposante:read-only {
    min-width: calc(100% - 255px);
}


.gauche button { width: 44px; font-size : 17px; padding: 0px; border:1px solid #bbb;
        height :24px; background: #f3f6f9;  }

.gauche button:hover {  border:1px solid #2055AA; color: #2055aa;  font-weight : 700; }

form label {
    display: inline-block;
    /*width: 140px; */ min-width: 135px;
    border-top: 1px dotted #888;
    margin-bottom: 1px;
	margin-top: 1px;
    padding-right: 14px;
    padding-top: 9px; padding-bottom:5px;
}



input#membre\[\] {
    background: #f0f3f6;
}

.section {
    margin-top: 28px; margin-bottom: 30px; padding-top:10px;
    border-top: 1px solid #ddd;
}



#aff_numero_div label { width:  0px; padding-left: 5px; border:none; }

select {
    background: #f3f6f9;
    border: 1px solid #ccc;
    padding: 4px 3px;
    font-family: arial;
}

select#selectarrete {
    background-color: #fdf5e2;  background-color: #f5c95c5e;
}


.recherche   {
    margin-bottom: 25px;
    max-width: 620px;
    margin-left:auto; margin-right: auto;
}

.recherche form input {
    background: #fff;
    border: 1px solid #00326e5c;
    padding: 4px 3px 4px 5px;
    font-family: arial;
    width: 12.5em;
}

 .recherche select, .recherche select#selectarrete  {
     background: #f3f6f9;
}

 .recherche select#selectarrete  {
      width: 15em !important;
}

 .recherche select#selectstatut{
      width: 8em !important;
}


.recherche input[type="submit"] {
    text-align: center;
    font-family: inherit;
    color: #00326e;
    background-color: #dee4f0;
    border: 1px solid #00326e54;
    width: 9.5em;
    border-bottom-color: #00236e9e;
    border-right-color: #00326e9e;
    border-radius: 2px;
    margin-left: 12px;
}

.recherche input[type="submit"]:hover {
    background-color: #f5c95c;
    font-weight : 600;
}


.droite input[type="submit"] {
    padding: 8px 8px 8px 38px;
    margin: 2px;
    font-size: 16px;
    text-align: left;
    font-family: inherit;
    color: #00326e;

    background-color : #dee4f0;   /* rgb(222, 228, 240);  */
    border: 1px solid #00326e2b;
    border-bottom-color: #00236e6c;
    border-right-color: #00326e6c;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-position: top 8px left 8px;
    background-size: 19px;

}

.droite input[type="submit"]:hover {  background-color :#f5c95c; }
.droite input[type="submit"]:disabled,
.droite input[type="submit"]:disabled:hover { background-color: #d0dade; opacity: 0.4; }


.droite input[name="duplique"] {
       background-image: url("../img/window-restore-regular.svg");
       width: 130px;
}

.droite input[name="supprime"] {
       background-image: url("../img/trash-alt-solid.svg");
       width: 130px;
    background-size: 17px;
}


.droite input[name="valide"] {
       background-image: url("../img/saving.svg");
       width: 268px;
}


.droite input[name="sign"] {
       background-image: url("../img/paper-plane-solid.svg");
       background-size: 18px;
       width: 268px;
}


#aff_numero_div { color: #00326e; font-size: 25px; margin-bottom: 22px;   text-align:left; }

#aff_numero_div img{ padding-left: 75px; --width: 35px; }


 
/****** tableau "Mes documents" + "Autorisation" ******/


.tableausimple {
    border: 1px #ccc solid;
    border-collapse: collapse;
    font-size: 0.85em;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


.tableausimple  th.titresimple  {
     background: #d4def1;
     background: #eeeff0;
     border:1px #aaa solid;
    line-height: 24px;
    padding :4px;
}


.tableausimple TR:nth-child(even) {  background: #f3f6f9; background: #f6f7f8; }
.tableausimple TR:hover { background: #f5c95c8e; color:black; }

.tableausimple  td.cellulesimple,
.tableausimple  td {
    padding: 2px 6px;
    height: 28px;
    border:1px #444 dotted;
    max-width: 400px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


.tableausimple td.img {
    text-align: center;
}

td.red,
td.red a {
    background: #CF4A02; color: white; text-align: left;
}

td.green,
td.green a {
     background: #19830A; color: white; text-align: left;
}

td.green:hover, td.red:hover { filter: brightness(150%);}

td.img:hover { filter: brightness(30%);}

td.img[title="En cours de signature"]:hover {

 -webkit-filter: saturate(180%);
  filter: saturate(180%);

}


.tableausimple td.img[title="Document dans la corbeille d'eSignature"],
.tableausimple td.img[title="En cours de signature"],
.tableausimple td.green,
.tableausimple td.red {

   background-image: url("../img/vers-esign.svg");
   background-size: 10px;
   background-repeat: no-repeat;
   background-position: top 3px right 3px;
   width: 79px;
}




/** LES ALERTES **/

.alerte {
   color: black;
   width: 250px;
   padding: 9px;
   border-radius: 2px;
   -webkit-box-shadow: 7px 7px 5px -6px rgba(153,153,153,1);
   -moz-box-shadow: 7px 7px 5px -6px rgba(153,153,153,1);
   box-shadow: 3px 7px 3px -6px rgb(153, 153, 153);

}


.alerte-info {
   background: #Fccc55;
   border: 2px #9f6c07 dashed;
}

.alerte-success {
   background: #cce6cc;
   border: 2px #4aac4a dashed;
}

.alerte-warning {
   background: #F3B08b;
   border: 2px #fd7328 dashed;
}

.alerte-danger {
   background: #CF4A02;
   border: 2px #fcb8b8 dashed;
   color: white;
}



/*==============*/


 @media (min-width: 800px) {

   .marge_table {
       margin-left: 152px;
   }
 }



@media screen and (max-width :800px) {

   .containerApp { width: 99%;}
   nav.navigat { background: none;}
   #contenu1, #contenu2 { padding:5px;}
   #contenu1 { margin-top: 60px; }

 .droite {
        display:block;
	clear : both;
	width: calc(100% - 5px);
        margin-top: 17px;
        padding-top: 15px;
        margin-bottom : 30px;
        border : 1px #999 dotted;
        background: #f3f6f9;
       }

   nav.navigat ul li {
     margin:0px;
     padding : 6px;
     min-width: 28%;
     border: 2px #ccc solid;
   }

}


@media screen and (max-width : 660px) {

   #contenu1 { margin-top: 75px; }
   nav.navigat { background: white; }

   nav.navigat ul li {
     min-width: 39%;
     border: 2px #ccc solid;
   }
   .gauche { width: 100% !important; }

}
